

html,body{
	margin: 0px;
	font-family: 'Lato', sans-serif; 
}

a:visited{
	color: inherit;
}

.be-red{
	background-color: #E74C3C
}

.white{
	color: #ECF0F1;
}

#logo{
	font-size: 1.5em;
}

.no-margin{
	margin: 0px;
}

.large-padding{
	padding: 10px 7px;
}

.field{
	margin-top:1em;
}

.form-control{
	border: none;
	border-bottom: 1px solid;
	outline: none;
	width: 100%;
	display: block;
	padding: 10px 0px;
	font-size: 1.2em;
}

.top-space{
	margin-top: 1em;
}

.text-left{
	text-align: left;
}

.btn{
	border: none;
	outline: none;
	text-transform: uppercase;
	cursor: pointer;
}